@font-face{
	font-family: montserrat;
	src: url('../fonts/Montserrat.woff') format("woff");
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: montserrat;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
	overflow-y: scroll;
}
body::-webkit-scrollbar{
	width: 7px;
}
body::-webkit-scrollbar-track{
	background: #232324;
}
body::-webkit-scrollbar-thumb{
	background-color: #fff;
	border: 1px solid #232324;
}
header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px 40px;
	background:linear-gradient(47deg, #121213 0%, #232324 50%);
	position: fixed;
	z-index: 100;
}
header>div{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
main{
	position: relative;
}
.header-left__logo{
	color: #eee;
	text-shadow: 1px 1px 10px #232324;
}
a, button, .shopping-bag, .header-left__logo, .buy__books, .cart__close, .add-in-cart{
	transition: .1s;
}
a:hover, button:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.header-center{
	background: #fff;
	width: auto;
	border-radius: 9px;
	box-shadow: 1px 1px 10px #232324;
}
.search{
	border: none;
	border-radius: 9px;
	padding: 10px 20px;
	font-size: 16px;
	width: 300px;
	transition: width .3s;
	color: #121213;
}
.search:focus,
.search:valid{
	width: 500px;
	outline: none;
}
.search:focus ~ .search-button,
.search:valid ~ .search-button{
	display: block;
}
.search-button{
	display: none;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.items-in-cart{
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 20px;
	min-width: 18px;
	height: 18px;
	font-size: 14px;
	background: #fff;
	color: #232324;
	transition: .2s;
}
.shopping-bag:hover .items-in-cart{
	color: #232324;
	background: #fff;
}
.scrollTop{
	border: 1px solid #fff;
	padding: 12px;
	display: none;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #232324;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 150;
}
.cart{
	background: #fff;
	position: fixed;
	display: none;
	z-index: 1100;
	width: 80%;
	left: -100%;
	box-shadow: 1px 10px 200px #121213;
	transition: left .5s;
	flex-direction: column;
	height: 100%;
	padding: 30px 40px;
	overflow-y: scroll;
}
.cart::-webkit-scrollbar{
	width: 7px;
}
.cart::-webkit-scrollbar-thumb{
	background-color: #d2d2d2;
}
.cart.active{
	left: 0;
}
.title__block{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.title{
	font-size: 30px;
}
.cart__header{
	display: flex;
	flex-direction: column;
}
.book__cart, .title__block{
	padding: 20px 0;
	border-bottom: 2px solid #d2d2d2;
}
.book__cart{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.cart__data{
	display: flex;
	flex-direction: row;
}
.cart__image{
	width: 200px;
	height: 300px;
	border-radius: 9px;
	background: #d2d2d2;
}
.book__title{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 40px;
}
.description{
	margin: 20px 0;
	word-wrap: break-word;
}
.book__cost{
	margin-bottom: 7px;
	font-size: 18px;
}
.amount-cost{
	display: flex;
	flex-direction: column;
}
.amount-cost button{
	border: none;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background: #232324;
	font-size: 14px;
	transition: .1s;
}
.amount-cost button:active{
	background: #66ff99;
	transform: scale(.8);
}
.amount-cost button>svg{
	margin: 6px;
}
.amount-cost>span{
	padding: 20px 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.amount__in__cart{
	padding: 0 20px;
}
.delete__from__cart{
	margin: 20px 0 0;
	width: 24px;
	height: 24px;
	display: block;
}
.delete__from__cart:hover{
	animation: shake .8s infinite;
}
.delete__from__cart:hover path{
	fill: #ff0000;
}
.cart__main{
	flex: 1 0 auto;
	background: #fff;
	width: 100%;
}
.cart__footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	flex: 0 0 auto;
}
.add-in-cart, .buy__books{
	width: 160px;
	padding: 13px 15px;
	border-radius: 9px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
	background: #232324;
	color: #fff;
}
.add-in-cart:hover, .buy__books:hover{
	background: #66ff99;
}
.library__image{
	background: url('../img/books.jpg') no-repeat center;
	background-size: cover;
	height: 100vh;
}
.main__wrapper{
	padding: 0 40px 20px;
}
.filters{
	width: 300px;
	position: relative;
	padding: 20px 0;

}
.sort__by{
	padding: 0 20px;
	color: #232324;
}
.filters:hover .dropdown{
	display: flex;
}
.filters:hover{
	background: #eee;
}
.dropdown{
	display: none;
	flex-direction: column;
	position: absolute;
	top: 20px;
	width: 300px;
	z-index: 20;
	background: #eee;
	margin: 40px 0 0;
}
.filter-link{
	padding: 15px;
	width: 100%;
	color: #232324;
}
.filter-link:hover{
	background: #fff;
}
.content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}
.card{
	margin: 0 20px 20px 0;
	display: flex;
	flex-direction: row;
}
.card__image{
	margin-right: 10px;
	max-width: 180px;
}
.card__book{
	transition: .2s;
	border: 3px solid #d2d2d2;
}
.card .card__book:hover{
	border: 3px solid #66ff99;
}
.card__data{
	max-width: 260px;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card__footer{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
footer{
	color: #eee;
	background: linear-gradient(47deg,#121213 0%,#232324 50%);
	width: 100%;
	padding: 10px 40px;
	display: flex;
	justify-content: space-evenly;
}
footer a{
	color: #eee;
}
footer a:hover{
	color: #66ff99;
}
@keyframes pop-up{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0);
	}
}
@keyframes shake{
	0%{
		transform: rotateZ(0deg);
	}
	10%,30%,50%,70%,90%{
		transform: rotateZ(5deg);
	}
	20%,40%,60%,80%,100%{
		transform: rotateZ(-5deg);
	}
}
@media only screen and (max-width: 768px){
	header{
		padding: 10px 12px;
	}
	.header-left{
		display: none;
	}
	.cart{
		width: 100%;
	}
	.cart__image{
		width: 130px;
		height: 200px;
	}
	.content{
		justify-content: space-between;
	}
	.card{
		width: 45%;
	}
	.card h3{
		font-size: 15px;
	}
	.card__image{
		width: 100px;
	}
	.add-in-cart{
		width: 100px;
		padding: 3px;
		font-size: 14px;
	}
	.card .book__cost{
		font-size: 12px;
	}
	.card__data{
		padding-right: 0;
	}
	.book__title{
		padding: 5px 20px;
	}
	footer{
		flex-direction: column;
		align-items: center;
	}
	footer>*{
		padding: 5px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 425px){
	.main__wrapper{
		padding: 0 20px 0;
	}
	.cart{
		padding: 20px 20px;
	}
	.cart__image{
		width: 90px;
		height: 130px;
	}
	.card__data{
		padding: 0 0 0 15px;
	}
	.card{
		font-size: 12px;
		width: 100%;
	}
	.title{
		font-size: 20px;
	}
	.filters, .dropdown{
		font-size: 13px;
		width: 230px;
	}
	.sort__by{
		padding: 0 0 0 15px;
	}
	.main__wrapper .title__block{
		padding: 0;
	}
	.search{
		padding: 7px 20px;
		width: 250px;
	}
	.search:focus,
	.search:valid{
		width: 250px;
	}
	.search-button{
		display: block;
	}
	.header-center{
		background: #fff;
	}
	.shopping-bag svg{
		width: 30px;
		height: 30px;
	}
	.items-in-cart{
		transform: none;
		font-size: 13px;
		width: 18px;
		color: #fff;
		background: #ff4321;
		height: 18px;
	}
	.amount-cost{
		font-size: 12px;
	}
	.cart .book__cost, .cart .book__description{
		font-size: 13px;
	}
	.cart h3{
		font-size: 16px;
	}
	.amount-cost>span{
		padding: 5px 0 0;
	}
	.delete__from__cart{
		margin: 5px 0 0;
	}
	.delete__from__cart svg{
		transform: scale(.8);
	}
	.buy__books{
		padding: 10px 10px;
		width: 140px;
	}
}
@media only screen and (max-width: 320px){
	.cart h3{
		font-size: 15px;
	}
	.book__title{
		padding: 5px 10px;
	}
	.main__wrapper{
		padding: 0 10px;
	}
	.filters, .dropdown{
		font-size: 12px;
		width: auto;
	}
	.search{
		width: 200px;
	}
	.search:focus,
	.search:valid{
		width: 200px;
	}
	h3.all__cost{
		font-size: 14px;
	}
}